.reserv {
   background: #e8e0da;
   padding: rem(12) 0;
   transition: top 0.3s ease 0s;
   top: 0;
   position: relative;
   z-index: 1;

   @media (max-width: $mobileSmall) {
      position: relative;
   }

   .show-reserv & {
      position: fixed;
      top: 118px;
      width: 100%;
      z-index: 7;

      @media (max-width: $laptop) {
         top: 78px;
      }
   }

   .black & {
      background: rgba(0, 0, 0, 0.7);

      @media (max-width: $tablet) {
         background: #3a230b;
      }
   }

   // .reserv__container

   &__container {}

   // .reserv__form

   &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      @media (max-width: $laptop) {
         gap: 20px;
         flex-wrap: wrap;
      }

      @media (max-width: em(1100)) {
         justify-content: flex-start;
      }

      @media (max-width: $mobile) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   // .reserv__dates

   &__dates {
      align-items: center;
      display: flex;
      flex: 1 1 auto;

      span {
         padding: 0 rem(6);
      }

      @media (max-width: $mobile) {
         width: 100%;
      }

      @media (max-width: em(680)) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   // .reserv__caption

   &__caption {
      margin-right: rem(13);
      font-family: "Jost";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #818181;
      flex-shrink: 0;

      @media (max-width: em(680)) {
         margin-bottom: rem(15);
      }

      .black & {
         color: #fff;
      }
   }

   // .reserv__input

   &__input {
      flex: 1 1 auto;
      color: #000;

      @media (max-width: em(680)) {
         min-width: calc(100% - 15px);
      }

      .black & {
         color: #fff;
         background: rgba(255, 255, 255, 0.203035);
         border: 1px solid rgba(0, 0, 0, 0.230742);
      }
   }

   // .reserv__quantity

   &__quantity {
      align-items: center;
      display: flex;

      @media (max-width: $mobile) {
         width: 100%;

         .quantity {
            width: 100%;
         }
      }

      @media (max-width: em(680)) {
         flex-direction: column;
         align-items: flex-start;
      }

      .black & {
         .quantity {
            background: rgba(255, 255, 255, 0.203035);
            border: 1px solid rgba(0, 0, 0, 0.230742);
         }

         .quantity__button::before,
         .quantity__button::after {
            background-color: #fff;
         }

         input {
            background: rgba(255, 255, 255, 0.203035);
            color: #fff;
         }
      }
   }

   // .reserv__promotion

   &__promotion {
      @media ((max-width: em(1100))) {
         flex: 0 1 33.333%;
      }
   }

   // .reserv__btn

   &__btn {
      @media ((max-width: em(1100)) and (min-width:$mobile)) {
         flex: 1 1 auto;
         max-width: 300px;
      }

      @media (max-width: $mobile) {
         width: 100%;
      }

      .black & {
         color: #fff;
      }
   }
}

.quantity {
   // .quantity__button

   &__button {
      // .quantity__button_minus

      &_minus {}

      // .quantity__button_plus

      &_plus {}
   }

   // .quantity__input

   &__input {}
}

.promotion {
   @media (min-width: $mobileSmall) {
      position: relative;
   }

   // .promotion__dd-link

   &__dd-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #818181;
      font-family: "Jost";
      border-bottom: 2.5px dotted #818181;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
         border-bottom: 2.5px dotted transparent;
      }

      .black & {
         color: #fff;
         border-bottom: 2.5px dotted #fff;

         &:hover {
            border-bottom: 2.5px dotted transparent;
         }
      }

      @media (max-width: em(1100)) {
         max-width: 122px;
      }
   }

   // .promotion__dd

   &__dd {
      position: absolute;
      background: #fff;
      box-shadow: 0px 32px 82px rgba(0, 0, 0, 0.216684);
      border-radius: 5px;
      color: #1d1d1b;
      top: calc(100% + 20px);
      right: 0;
      padding: rem(8) rem(23) rem(21) rem(17);
      width: 450px;
      z-index: 10;

      @media (max-width: em(1100)) {
         right: auto;
         left: 0;
      }

      @media (max-width: em(885)) {
         @include adaptiveValue("left", 0, -40, 1, 885, 767);
      }

      @media (max-width: $mobile) {
         left: 0;
      }

      @media (max-width: $mobileSmall) {
         width: 100%;
         top: auto;
         bottom: -108px;
         padding: rem(20) rem(10);
      }
   }

   // .promotion__dd-inner

   &__dd-inner {
      display: flex;
      flex-wrap: wrap;
   }

   // .promotion__label

   &__label {
      font-size: 12px;
      line-height: 22px;
      flex: 1 1 100%;
   }

   // .promotion__input

   &__input {
      width: 210px;
      margin-right: rem(15);

      @media (max-width: $mobileSmall) {
         flex: 1 1 100%;
         margin: 0;
         margin-bottom: rem(10);
      }
   }

   // .promotion__button

   &__button {
      height: 55px;
      margin-top: rem(-7);

      @media (max-width: $mobileSmall) {
         flex: 1 1 100%;
      }
   }
}