// Заголовки, общие БЄМ блоки и проче...

.btn-gold {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 48px;
   border-radius: 3px;
   position: relative;
   padding: 0 rem(35);
   padding-top: rem(4);
   transition: all 0.3s ease 0s;
   border: 2px solid #e9be87;
   border-image-source: url(../img/svg/border-hand.svg);
   border-image-slice: 36 36 18 35;
   border-image-width: 31px 31px 20px 31px;
   border-image-repeat: stretch stretch;
   border-style: solid;
}

.more-btn {
   display: flex;
   align-items: center;
   color: #fff;
   font-size: 20px;
   line-height: 28px;
   // .more-btn__arrow

   &__arrow {
      margin-left: rem(22);
      width: 45px;
      height: 45px;

      use {
         fill: #fff;
      }
   }
}

.title-cormorant {
   font-family: "Cormorant Garamond";
   font-style: normal;
   font-weight: 400;
   font-size: 70px;
   line-height: 85px;
   text-transform: uppercase;
   color: #3a230b;

   @media (max-width: $tablet) {
      font-size: 39px;
      line-height: 47px;
   }
}

.gallery {
   .restaurant & {
      margin-bottom: rem(120);

      @media (max-width:$tablet) {
         margin-bottom: rem(90);
      }

      @media (max-width:$mobile) {
         margin-bottom: rem(70);
      }
   }

   // .gallery_no-slider

   &_no-slider {
      padding: 0 rem(20);
      // .gallery__row

      .gallery__row {
         display: grid;
         gap: 18px;
         grid-template-rows: 371px 418px;
         grid-template-columns: repeat(12, 1fr);

         @media (max-width:$pc) {
            grid-template-rows: 250px 280px;
         }

         @media (max-width:$tablet) {
            grid-template-rows: repeat(4, 390px);
            grid-template-columns: repeat(6, 1fr);
         }

         @media (max-width:$mobile) {
            gap: 8px;
            grid-template-rows: repeat(4, 250px);
         }

         @media (max-width:$mobileSmall) {
            grid-template-rows: repeat(4, 160px);
         }
      }

      // .gallery__image

      .gallery__image {
         cursor: pointer;

         &:nth-child(1) {
            grid-column: span 2;
         }

         &:nth-child(2) {
            grid-column: span 4;
         }

         &:nth-child(3) {
            grid-column: span 4;
         }

         &:nth-child(4) {
            grid-column: span 2;
         }

         &:nth-child(5) {
            grid-column: span 3;
         }

         &:nth-child(6) {
            grid-column: span 3;
         }

         &:nth-child(7) {
            grid-column: span 2;
         }

         &:nth-child(8) {
            grid-column: span 4;
         }


         img {
            height: 100%;
            width: 100%;
            object-fit: cover;
         }
      }
   }

   // .gallery__slider

   &__slider {}

   // .gallery__wrapper

   &__wrapper {

      &.swiper-wrapper {
         margin-bottom: rem(30);
         height: 371px;

         @media (max-width:$mobile) {
            height: 150px;
            margin-bottom: rem(20);
         }
      }

   }

   // .gallery__slide

   &__slide {
      @media (max-width:$tablet) {
         width: 100%;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .gallery__buttons

   &__buttons {
      display: flex;
      justify-content: center;
   }
}

.services {
   padding-top: rem(88);
   padding-bottom: rem(50);

   // .services__title

   &__title {
      text-align: center;
      margin-bottom: rem(60);
   }

   // .services__row

   &__row {
      max-width: 1540px;
      padding: 0 rem(20);
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      row-gap: 30px;
   }

   // .services__col

   &__col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: rem(26) rem(20) rem(50);

      @media (min-width: em(1039.98)) {
         &:not(:last-child) {
            border-right: 1px solid #D8D8D8;
         }
      }
   }

   // .services__icon

   &__icon {
      margin-bottom: rem(44);
   }

   // .services__subtitle

   &__subtitle {
      margin-bottom: rem(44);
      font-size: 20px;
      line-height: 24px;
      flex: 1 1 auto;
   }

   // .services__link

   &__link {}
}

.rules {
   padding: rem(50) rem(20);

   @media (max-width:$mobile) {
      padding: rem(20) rem(20);

   }


   // .rules__row

   &__row {
      max-width: 1500px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
      align-items: start;
      gap: 100px;
      justify-items: start;

      @media (max-width:$pc) {
         gap: 50px;
      }

      @media (max-width:$mobile) {
         gap: 20px;
      }

      @media (max-width:$mobileSmall) {
         display: flex;
         flex-direction: column;
      }


   }

   // .rules__link

   &__link {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 56px 1fr;
      column-gap: 20px;
      align-items: center;
      row-gap: 5px;

      img {
         grid-row: 1/3;
         align-self: start;
      }

      @media (max-width:$mobileSmall) {
         align-items: start;
      }
   }

   // .rules__name

   &__name {
      position: relative;
      font-size: 20px;
      line-height: 28px;
      padding-bottom: rem(10);

      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 1px;
         width: 100%;
         background: rgba(0, 0, 0, 0.2);
      }
   }

   // .rules__type-file

   &__type-file {
      font-size: 14px;
      line-height: 22px;

      @media (max-width:$mobileSmall) {
         margin-top: rem(15);
      }
   }
}

.how-to-get {
   padding: rem(130) 0;
   position: relative;

   @media (max-width:$tablet) {
      padding: rem(80) 0;

   }

   @media (max-width:$mobile) {
      padding: rem(60) 0;

   }

   @media (min-width:$mobile) {

      background: url(../img/ornament-bg-left.png) left no-repeat;

      .contacts & {
         background: #fff;
      }

      &::after {
         content: '';
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 50px;
         background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }
   }

   // .how-to-get__title

   &__title {
      text-align: center;
      margin-bottom: rem(70);

      @media (max-width:$mobile) {
         margin-bottom: rem(40);
      }
   }

   // .how-to-get__row

   &__row {
      max-width: 1280px;
      padding: 0 rem(20);
      margin: 0 auto;
      display: flex;
      margin-bottom: rem(89);

      @media (max-width:$tablet) {
         flex-wrap: wrap;
         row-gap: 40px;
      }
   }

   // .how-to-get__col

   &__col {
      flex: 0 1 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: rem(30) rem(20);

      @media (max-width:$tablet) {
         flex: 0 1 50%;
      }

      @media (min-width:$tablet) {
         &:not(:last-child) {
            border-right: 1px solid #D8D8D8;
         }
      }

      @media (max-width:$tablet) and (min-width:$mobile) {
         &:nth-child(odd) {
            border-right: 1px solid #D8D8D8;

         }
      }

      @media (max-width:$mobile) {
         flex: 1 1 100%;
      }
   }

   // .how-to-get__icon

   &__icon {
      margin-bottom: rem(56);

      @media (max-width:$mobile) {
         margin-bottom: rem(20);
      }
   }

   // .how-to-get__subtitle

   &__subtitle {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-bottom: rem(34);

      @media (max-width:$mobile) {
         margin-bottom: rem(20);
      }
   }

   // .how-to-get__price

   &__price {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: rem(40);

      @media (max-width:$mobile) {
         margin-bottom: rem(20);
      }
   }

   // .how-to-get__descr

   &__descr {
      font-size: 16px;
      line-height: 24px;

      @media (max-width:$tablet) {
         max-width: 275px;
      }
   }

   // .how-to-get__link

   &__link {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      gap: 40px;
      justify-content: center;

      @media (max-width:$mobile) {
         display: grid;
         grid-template-rows: 80px auto;
         grid-template-columns: repeat(2, auto);
         row-gap: 13px;


         img {
            &:first-child {
               justify-self: center;
               grid-row: 1/2;
               grid-column: 1/3;
            }
         }
      }
   }
}

.video-block {
   padding-top: rem(40);
   background: #F0EDEB;
   // .video-block__header

   &__header {}

   // .video-block__title

   &__title {
      font-family: "Cormorant Garamond";
      font-style: normal;
      font-weight: 300;
      text-transform: uppercase;
      color: #3a230b;
      font-size: 70px;
      line-height: 85px;
      text-align: center;

      @media (max-width:$tablet) {
         font-size: 32px;
         line-height: 39px;
      }
   }

   // .video-block__bg

   &__bg {
      position: relative;
      padding-bottom: 37.5%;

      @media (max-width:$mobile) {
         width: 600px;
         height: 260px;
         padding-bottom: 0;
         margin: 0 auto;
      }

      @media (max-width: em(600)) {
         @include adaptiveValue("margin-left", 0, -130, 3, 600, 320);
      }
   }

   &__start-video,
   &__main-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   // .video-block__start-video

   &__start-video {}

   // .video-block__main-video

   &__main-video {}
}

.parsley-errors-list {
   margin-top: rem(5);
   color: rgb(207, 35, 35);
}

.page-form-reserv {
   position: relative;
   padding-top: rem(110);
   padding-bottom: rem(80);
   background: #F0EDEB url(../img/ornament-bg-left.png) left no-repeat;
   background-blend-mode: multiply;
   margin-bottom: rem(80);

   .contacts & {
      margin-bottom: rem(0);
   }

   @media (max-width:$tablet) {
      padding: rem(70) 0;
   }

   @media (max-width:$mobile) {
      padding: rem(50) 0;

   }

   // .page-form-reserv__wrapper

   &__wrapper {
      display: grid;
      grid-template-columns: 1fr 455px 1fr;
      max-width: 1570px;
      margin: 0 auto;
      padding: 0 rem(20);
      gap: 140px;

      .conference-hall & {
         @media (min-width:$pc) {
            grid-template-columns: 1.3fr 455px 1fr;

         }
      }

      @media (max-width:$pc) {
         grid-template-columns: 420px 455px;
         padding: 0 rem(20);
         padding-left: rem(100);
      }

      @media (max-width:$laptop) {
         padding: 0 rem(20);
         grid-template-columns: repeat(2, 1fr);
         gap: 20px;
      }

      @media (max-width:$tablet) {
         display: block;
      }
   }

   // .page-form-reserv__left

   &__left {
      @media (max-width:$tablet) {
         margin-bottom: rem(20);
      }
   }

   // .page-form-reserv__title

   &__title {
      font-family: 'Cormorant Garamond';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 61px;
      text-transform: uppercase;
      color: #3A230B;
      margin-bottom: rem(30);

      @media (max-width:$laptop) {
         font-size: 40px;
         line-height: 48px;
      }

      @media (max-width:$mobile) {
         text-align: center;
      }

      @media (max-width:$mobileSmall) {
         font-size: 30px;
         line-height: 36px;
      }
   }

   // .page-form-reserv__subtitle

   &__subtitle {
      font-size: 20px;
      line-height: 28px;
      max-width: 305px;

      .conference-hall & {
         max-width: 100%;
      }
   }

   // .page-form-reserv__center

   &__center {}

   // .page-form-reserv__form

   &__form {}

   // .page-form-reserv__right

   &__right {
      @media (max-width:$pc) {
         display: none;
      }

      img {
         margin-top: rem(-160);
         width: 100%;
         object-fit: contain;
      }
   }
}

.error-404 {

   // .error-404__wrapper

   &__wrapper {}

   // .error-404__container

   &__container {
      .areas {
         padding-top: rem(45);
      }
   }

   // .error-404__title

   &__title {
      text-align: center;
      margin-bottom: rem(30);
   }

   // .error-404__subtitle

   &__subtitle {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      margin-bottom: rem(45);
   }

}