//====================================================================================================
.header {
	&._header-scroll {
		padding-top: rem(119);
		@media (max-width: em(1280)) {
			padding-top: rem(78.55);
		}
		.header__top .reserv-btn {
			display: flex;
		}

		.lang-switch {
			display: none;
		}
	}
	&._header-show {
	}

	// .header__container

	&__container {
	}

	// .header__top

	&__top {
		background-color: #fff;
		transition: all 0.3s ease 0s;
		._header-scroll & {
			position: fixed;
			top: -200px;
			left: 0;
			right: 0;
			z-index: 8;
		}
		._header-show & {
			top: 0;
		}
		.header__container {
			display: flex;
			justify-content: space-between;
			@media (max-width: em(1280)) {
				align-items: center;
				padding-top: rem(7);
				padding-bottom: rem(7);
			}
		}
	}

	// .header__left-menu

	&__left-menu {
	}

	// .header__logo

	&__logo {
	}

	// .header__right-menu

	&__right-menu {
	}

	// .header__mobile-menu

	&__mobile-menu {
	}
}

.dropdown-menu {
	position: relative;
	padding: rem(16) 0;
	cursor: pointer;
	&:hover {
		.dropdown-menu__arrow {
			transform: rotate(-180deg);
		}
		.dropdown-menu__list {
			pointer-events: all;
			visibility: visible;
			opacity: 1;
		}
	}

	@media (max-width: em(1280)) {
		font-weight: 400;
		font-size: 23px;
		line-height: 47px;
		padding: 0;
		font-family: "Jost";
		text-align: center;
		width: 100%;
	}

	// .dropdown-menu__span

	&__span {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		@media (max-width: em(1280)) {
			font-weight: 400;
			font-size: 23px;
			line-height: 47px;
			padding: 0;
			font-family: "Jost";
		}
	}

	// .dropdown-menu__arrow

	&__arrow {
		transition: transform 0.3s ease 0s;
		width: 14px;
		height: 7px;
		margin-left: rem(9);
		@media (max-width: em(1280)) {
			display: none;
		}
	}

	// .dropdown-menu__list

	&__list {
		@media (min-width: em(1280)) {
			pointer-events: none;
			overflow: hidden;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			position: absolute;
			z-index: 10;
			top: 90%;
			right: 0;
			background: #1d1d1b;
			box-shadow: 0px 32px 82px rgba(0, 0, 0, 0.216684);
			color: #fff;
			border-radius: 5px;
		}
	}

	// .dropdown-menu__item

	&__item {
	}

	// .dropdown-menu__link

	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 58px;
		padding-left: rem(20);
		padding-right: rem(70);
		display: block;
		transition: all 0.2s ease 0s;
		&:hover {
			background: #fff;
			color: #000;
		}
		@media (max-width: em(1280)) {
			font-weight: 400;
			font-size: 19px;
			line-height: 44px;
			padding: 0;
			width: 100%;
			&:hover {
				color: #ce8d3b;
			}
		}
	}
}

.menu-left {
	padding-top: rem(13);
	@media (max-width: em(1280)) {
		display: none;
	}
	// .menu-left__top

	&__top {
		border-bottom: 1px solid #d8d8d8;
		display: flex;
		min-height: 54px;
		gap: 90px;
		@media (max-width: $pc) {
			gap: 50px;
		}
	}

	// .menu-left__bottom

	&__bottom {
		display: flex;
		gap: 55px;
		@media (max-width: $pc) {
			gap: 30px;
		}
	}
}

.menu-right {
	padding-top: rem(13);
	@media (max-width: em(1280)) {
		display: none;
	}

	// .menu-right__top

	&__top {
		display: flex;
		border-bottom: 1px solid #d8d8d8;
		justify-content: flex-end;
		min-height: 54px;
		align-items: flex-end;
		padding-bottom: rem(13);
		._header-scroll & {
			padding-bottom: rem(5);
		}
	}

	// .menu-right__bottom

	&__bottom {
		display: flex;
		gap: 55px;
		@media (max-width: $pc) {
			gap: 30px;
		}
	}
}

.menu-phone {
	@media (max-width: em(1280)) {
		text-align: center;
	}
	// .menu-phone__descr

	&__descr {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}

	// .menu-phone__link

	&__link {
		font-weight: 400;
		font-size: 20px;
		line-height: 36px;
		color: #ce8d3b;
		@media (max-width: em(1280)) {
			font-size: 17px;
		}
	}
}

.menu-link {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	padding: rem(16) 0;
	transition: all 0.3s ease 0s;
	&:hover {
		color: #ce8d3b;
	}
	@media (max-width: em(1280)) {
		font-weight: 400;
		font-size: 23px;
		line-height: 47px;
		padding: 0;
		width: 100%;
		text-align: center;
		font-family: "Jost";
		&:hover {
			background-color: #fff;
		}
	}
}

.main-logo {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	@media (max-width: em(1280)) {
		display: grid;
		grid-template-columns: 63px 1fr;
		// grid-template-rows: repeat(3, 1fr);
		column-gap: 3px;
	}

	// .main-logo__text

	&__text {
		font-family: "Jost";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 22px;
		letter-spacing: 0.725532px;
		text-transform: uppercase;
		color: #3a230b;
		align-self: center;
		@media (min-width: em(1280)) {
			position: absolute;
			top: 32px;
		}
		@media (max-width: em(1280)) {
			font-size: 15px;
			line-height: 15px;
		}
		&_left {
			left: -52px;
			@media (max-width: em(1280)) {
				margin-top: rem(6);
			}
		}
		&_right {
			right: -70px;
		}
	}

	// .main-logo__img

	&__img {
		@media (max-width: em(1280)) {
			grid-column: 1/2;
			grid-row: 1/4;
			img {
				width: 100%;
			}
		}
		& :last-child {
			display: none;
		}
	}

	// .main-logo__bottom-text

	&__bottom-text {
		flex: 1 1 100%;
		font-family: "Jost";
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 25px;
		text-align: center;
		color: #3a230b;
		@media (max-width: em(1280)) {
			font-size: 12px;
			line-height: 12px;
		}
	}
}

.callback-btn {
	font-weight: 400;
	font-size: 17px;
	color: #ce8d3b;
	display: flex;
	align-items: flex-end;

	// .callback-btn__text

	&__text {
		margin-left: rem(10);
	}
}

.lang-switch {
	margin-left: rem(90);
}

.reserv-btn {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: rem(65);
	@media (max-width: $pc) {
		margin-left: rem(30);
	}

	.menu-right__top & {
		display: none;
	}
}

//========================================================================================================================================================

// Mobile-menu

.mobile-menu {
	@media (min-width: em(1280)) {
		display: none;
	}
	position: fixed;
	background: #f0edeb;
	z-index: 15;
	width: 100%;
	height: calc(100% - 78px);
	top: -100%;
	left: 0;
	transition: top 0.3s ease 0s;
	padding: rem(15);
	overflow: auto;
	.menu-open & {
		top: 78px;
	}
	// .mobile-menu__header

	&__header {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 25px;
		flex-wrap: wrap;
		margin-bottom: rem(22);
	}

	// .mobile-menu__center

	&__center {
		// overflow: auto;
		// height: calc(100% - 78px);
		padding-bottom: rem(50);
		.menu-left__bottom,
		.menu-right__bottom {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0;
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: em(1280)) {
		outline: none;
		display: block;
		position: relative;
		width: rem(36);
		height: rem(25);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			background-color: #ce8d3b;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(47% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(47% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
