.team {

   // .team__wrapper

   &__wrapper {
      padding-top: rem(50);
      padding-bottom: rem(30);
      position: relative;

      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 50px;
         background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
      }

      @media (min-width:$tablet) {
         background: url(../img/ornament-bg-left.png) left repeat-y;
      }

      @media (max-width:$mobile) {
         padding-top: rem(30);
      }
   }

   // .team__container

   &__container {
      padding-bottom: rem(100);
      position: relative;

      @media (max-width:$mobile) {
         padding-bottom: rem(30);
      }

      @media (max-width:$mobileSmall) {
         padding: 0;
      }

      &::before,
      &::after {
         content: '';
         position: absolute;
         z-index: 2;
      }

      &::after {
         bottom: -43px;
         left: 50%;
         transform: translate(-50%, 0px);
         width: 27px;
         height: 27px;
         background: url(../img/svg/footer-rhomb.svg);
      }

      &::before {
         height: 1px;
         background: rgba(0, 0, 0, 0.3);
         bottom: -30px;
         left: 15px;
         right: 15px;
      }
   }

   // .team__title

   &__title {
      text-align: center;
      margin-bottom: rem(80);

      @media (max-width:$laptop) {
         margin-bottom: rem(30);
      }

      @media (max-width:$mobile) {
         font-size: 32px;
         line-height: 39px;
      }
   }
}

.team {

   // .team__content

   &__content {
      max-width: 1220px;
      margin: 0 auto;

      @media (max-width:$laptop) {
         padding: 0 rem(60);
      }

      @media (max-width:$mobile) {
         padding: 0;
      }
   }

   // .team__main-photo

   &__main-photo {
      position: relative;
      margin-bottom: rem(67);
      max-width: 926px;

      img {
         width: 100%;
      }

      @media (max-width:$laptop) {
         max-width: 667px;
         margin: 0 auto;
         margin-bottom: rem(50);
      }

      @media (max-width:$mobileSmall) {
         margin-bottom: rem(30);
      }

      @media (min-width:$laptop) {

         &::before,
         &::after {
            content: '';
            position: absolute;
            width: 36px;
            height: 36px;
            background-color: #fff;
            z-index: 1;
            transform: rotate(-45deg);
         }

         &::before {
            top: -18px;
            right: -18px;
         }

         &::after {
            bottom: -18px;
            left: -18px;
         }
      }
   }

   // .team__grid

   &__grid {
      display: grid;
      grid-template-columns: 500px auto;
      gap: 70px;

      @media (max-width:$laptop) {
         display: block;
      }
   }

   // .team__col

   &__col {
      grid-row: 1;

      @media (max-width:$laptop) {
         margin-bottom: rem(50);
      }

      @media (max-width:$mobileSmall) {
         margin-bottom: rem(30);
      }

      // .team__col_right

      &_right {
         @media (min-width:$laptop) {
            position: relative;
            z-index: 2;
            margin-top: rem(-300);
            grid-column: 2/3;
            padding: rem(50) rem(77) rem(30) rem(77);
            background-color: #fff;

         }
      }

      // .team__col_left

      &_left {
         grid-column: 1/2;
      }
   }

   // .team__text

   &__text {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: rem(100);
      max-width: 500px;

      @media (max-width:$laptop) {
         max-width: 100%;
         margin-bottom: rem(50);
      }

      @media (max-width:$mobileSmall) {
         padding: 0 rem(20);
         margin-bottom: rem(30);
      }

      p {
         &:not(:last-child) {
            margin-bottom: rem(20);
         }
      }
   }

   // .team__image

   &__image {
      @media (max-width:$laptop) {
         max-width: 667px;
         margin: 0 auto;
      }

      img {
         width: 100%;
      }
   }
}